/*лучше normalize.css и обнуление отдельных блоков там где это нужно, эта конструкция как из пушки по воробьям*/
* {
    padding: 0;
    margin: 0;
}

:root {
    --additional_color: #004fb6;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    flex-direction: column;
}

/*принято делать так через классы, почитай БЭМ,
стилизовать все теги сразу - плохая практика, рано или поздно в больших проектах могут аффектить код*/
ul, ol {
    margin-left: 30px;
}

ul {
    list-style: disc;
}

.header {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.header li {
    list-style: none;
}

.header img {
    height: 250px;
    border-radius: 50%;
}

.header_content h1 {
    margin-bottom: 30px;
    border-bottom: 3px solid var(--additional_color);
}

.container {
    margin-top: 30px;
    width: 70%;
}

/*или можно просто сделать класс .heading, что лучше*/
.container h1 {
    text-align: center;
    color: white;
    font-size: 35px;
    background-color: var(--additional_color);
    margin: 30px 0px;
}

/*или без .work можно просто сделать .table, этот каскад ни к чему*/
.work table {
    width: 100%;
    border-spacing: 10px 15px;
}

.work table td, .work table th {
    border-bottom: 2px solid var(--additional_color);
}

.work table thead {
    font-weight: 600;
}

.education li {
    padding-top: 10px;
    border-bottom: 1px solid var(--additional_color);
}

.course li {
    padding-top: 10px;
    border-bottom: 1px solid var(--additional_color);
}

.progress, .progress div {
    border-radius: 10px;
}

.progress {
    display: flex;
    align-items: center;
    align-self: center;
    width: 50%;
    height: 10px;
    padding: 5px;
    background: rgb(59, 59, 59);
    font-size: 20px;
}

.progress_title {
    border-bottom: 1px solid var(--additional_color);
}

.progress_slice {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--additional_color);
}

.progress_body {
    height: 10px;
    background: white;
}

/*тот самый случай где инлайновые стили будет во много раз лучше через style, */
/*потому что так ты значение оставляешь в html, его не придётся менять в css*/
.html_progress {
    width: 70%;
}

.css_progress {
    width: 30%;
}

.js_progress {
    width: 10%;
}

.footer {
    margin-top: 50px;
    padding: 20px 0px;
    height: 200px;
    width: 100%;
    background: var(--additional_color);
    font-size: 20px;
    color: white;
    text-align: center;
}

.footer_img {
    margin-top: 20px;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_img img {
    height: 50px;
}


/*вот это отлично сделал*/
@media (max-width: 1340px) {
    .header {
        justify-content: center;
        text-align: center;
    }

    .header img {
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .container {
        font-size: 20px;
    }

    .header {
        width: 90%;
        justify-content: center;
        text-align: center;
    }

    .container {
        width: 90%;
    }
}

@media (max-width: 460px) {
    .work table {
        font-size: 18px;
    }
}